.card{
    background-color: var(--secondary-color);
    min-height: 10vh;
}

input[type="text"],input[type="email"]{
    height: 60px;
    padding-left: 20px;
    font-size: 13px;
    width: 100%;
}

.btn-subs{
    height: 57px;
    padding-left: 20px;
    font-size: 13px;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}