nav {
  margin-top: 100px;
  height: 50px;
  background-color: var(--navbar-footer-color);
}

.nav-link {
  text-transform: uppercase;
  color: var(--primary-color);
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 0 25px;
}
