<div class="container mt-5">
    <div class="row">

        <div class="card shadow-effect p-4">
            <h3>Comment (25)</h3>

            <!-- Comment Card Body -->
            <div class="card-body mt-3 shadow-effect mb-3">
                <h5>Jhone Doe</h5>
                <p class="text-danger">Last Updated : 25,Jan,2023</p>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, vel a culpa fugit et corporis
                        molestias
                        deleniti. Similique eligendi consectetur distinctio quaerat incidunt neque dolorum quibusdam
                        inventore
                        saepe. Laborum quos repellat suscipit laboriosam, soluta fugit dolorem omnis dolorum earum
                        facilis
                        ipsum
                        impedit recusandae accusamus iure! Labore id enim quidem consectetur!</p>
                </div>
                <div class="reply-btn">
                    <a href="#">REPLY</a>
                    <a href="#">VIEW REPLY</a>
                </div>
            </div>
            <!-- Comment Card Body -->
            <div class="card-body mt-3 shadow-effect mb-3">
                <h5>Jhone Doe</h5>
                <p class="text-danger">Last Updated : 25,Jan,2023</p>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, vel a culpa fugit et corporis
                        molestias
                        deleniti. Similique eligendi consectetur distinctio quaerat incidunt neque dolorum quibusdam
                        inventore
                        saepe. Laborum quos repellat suscipit laboriosam, soluta fugit dolorem omnis dolorum earum
                        facilis
                        ipsum
                        impedit recusandae accusamus iure! Labore id enim quidem consectetur!</p>
                </div>
                <div class="reply-btn">
                    <a href="#">REPLY</a>
                    <a href="#">VIEW REPLY</a>
                </div>
            </div>
            <!-- Comment Card Body -->
            <div class="card-body mt-3 shadow-effect mb-3">
                <h5>Jhone Doe</h5>
                <p class="text-danger">Last Updated : 25,Jan,2023</p>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, vel a culpa fugit et corporis
                        molestias
                        deleniti. Similique eligendi consectetur distinctio quaerat incidunt neque dolorum quibusdam
                        inventore
                        saepe. Laborum quos repellat suscipit laboriosam, soluta fugit dolorem omnis dolorum earum
                        facilis
                        ipsum
                        impedit recusandae accusamus iure! Labore id enim quidem consectetur!</p>
                </div>
                <div class="reply-btn">
                    <a href="#">REPLY</a>
                    <a href="#">VIEW REPLY</a>
                </div>
            </div>
            <!-- Comment Card Body -->
            <div class="card-body mt-3 shadow-effect mb-3">
                <h5>Jhone Doe</h5>
                <p class="text-danger">Last Updated : 25,Jan,2023</p>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, vel a culpa fugit et corporis
                        molestias
                        deleniti. Similique eligendi consectetur distinctio quaerat incidunt neque dolorum quibusdam
                        inventore
                        saepe. Laborum quos repellat suscipit laboriosam, soluta fugit dolorem omnis dolorum earum
                        facilis
                        ipsum
                        impedit recusandae accusamus iure! Labore id enim quidem consectetur!</p>
                </div>
                <div class="reply-btn">
                    <a href="#">REPLY</a>
                    <a href="#">VIEW REPLY</a>
                </div>
            </div>

        </div>
    </div>
</div>