<div class="container bg-theme-1 mt-4 mb-5 p-5 ">
    <h1 class="color-white text-center">Terms And Condition's</h1>
<div class=" bg-theme-2 mt-5 p-5">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat fugit quidem, quia eligendi dolorum quis.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat fugit quidem, quia eligendi dolorum quis.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat fugit quidem, quia eligendi dolorum quis.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat fugit quidem, quia eligendi dolorum quis.</p>


    <div class="text-center mt-4">
        <button id="btn-home" class="btn btn-home text-center">Back To Home</button>
    </div>
</div>

</div>