<div class="container bg-theme-1 mt-4 mb-5 p-5 ">
        <h1 class="color-white text-center">About Us</h1>
    <div class=" bg-theme-2 mt-5 p-5">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum architecto aliquid deserunt
            non veniam accusantium? Error ex debitis illo, nam repellat ipsa sequi consectetur rerum quidem
            corrupti, facere quasi. Eum quisquam soluta nihil obcaecati alias, excepturi sit quae temporibus
            nemo porro vel minima quibusdam, dolores numquam, maiores pariatur. Enim cumque quas quod
            corrupti doloremque quasi ipsam ullam esse fugit neque a cum, harum veniam reprehenderit illo,
            ad quisquam aut in? Hic odit mollitia illo explicabo laboriosam esse natus nesciunt eum! Maiores
            molestiae similique amet quam eveniet? Ipsam sapiente dolorum at a adipisci. Nobis amet magnam
            obcaecati mollitia quidem qui impedit culpa, blanditiis saepe corporis! Voluptates non iste,
            suscipit doloribus velit dolores vitae placeat omnis temporibus sint doloremque sapiente enim
            aliquid? Nemo sequi vero tempora recusandae accusantium? Deleniti consectetur placeat ex
            pariatur magni corrupti! Quas ipsum temporibus est modi. Sequi modi tenetur totam corrupti cum
            quo et consequatur dolores, perferendis saepe, illum accusantium aliquam tempore omnis quisquam
            cumque. Consequatur sequi quas minima quia! Eveniet fugiat distinctio magnam qui excepturi
            obcaecati error sapiente. Dignissimos, quibusdam tempora? Reiciendis corrupti, sint vel quod
            voluptas animi quis numquam quos non pariatur libero asperiores at quam exercitationem maxime
            tempore sunt nemo rerum placeat illo temporibus quisquam ducimus. Repellendus obcaecati


        <div class="text-center mt-4">
            <button id="btn-home" class="btn btn-home text-center">Back To Home</button>
        </div>
    </div>

</div>